<template>
  <v-card>
    <v-card-title>Pembelian Terakhir</v-card-title>
    <v-card-text>
      <v-row>
        <v-col v-for="(header, i) in headers" :key="i">
          <p class="grey--text mb-0" text rounded>{{ header }}</p>
        </v-col>
      </v-row>
      <v-row v-for="(sale, i) in sales" :key="i">
        <v-col>
          <h3>{{ sale.day }}</h3>
          <p>{{ sale.date }}</p>
        </v-col>
        <v-col>
          <h3>{{ sale.customer }}</h3>
          <p>{{ sale.phone }}</p>
        </v-col>
        <v-col>
          <h3>{{ sale.item }}</h3>
          <p>{{ sale.price | numbers }}</p>
        </v-col>
        <v-col>
          <h3>{{ sale.qty }} Bungkus</h3>
          <p>{{ sale.total | numbers }}</p>
        </v-col>
        <v-col>
          <h3>{{ sale.paid | numbers }}</h3>
          <p>dari {{ sale.total | numbers }}</p>
        </v-col>
        <v-col>
          <v-chip class="success pa-4">{{ sale.status }}</v-chip>
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>
    
<script>
export default {
  name: "RecentBuys",
  data() {
    return {
      headers: ["Tanggal", "Pembeli", "Barang", "Jumlah", "Terbayar", "Status"],
      sales: [
        {
          day: "Minggu",
          date: "07/02/20",
          customer: "Novan Kuncoro",
          phone: "083838245719",
          item: "Makaroni",
          price: 1500,
          qty: 3,
          total: 4500,
          paid: 4500,
          status: "Lunas"
        }
      ]
    };
  },
  filters: {
    numbers(num) {
      const opt = {
        style: "currency",
        currency: "IDR"
      };
      return new Intl.NumberFormat("id-ID", opt).format(num);
    }
  }
};
</script>