<template>
  <v-navigation-drawer tag="nav" app mini-variant dark expand-on-hover>
    <v-list>
      <v-list-item>
        <v-list-item-title>Title</v-list-item-title>
      </v-list-item>
      <nuxt-link v-for="(link, i) in links" :key="i" :to="link.to">
        <v-list-item>
          <v-list-item-icon>
            <v-icon>{{ link.icon }}</v-icon>
          </v-list-item-icon>
          <v-list-item-content>{{ link.name }}</v-list-item-content>
        </v-list-item>
      </nuxt-link>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
export default {
  name: "Sidebar",
  data() {
    return {
      links: [
        { icon: "mdi-home", name: "Home", to: "/" },
        { icon: "mdi-home", name: "Details", to: "/details" },
        { icon: "mdi-home", name: "Setting", to: "/setting" }
      ]
    };
  }
};
</script>

<style>
a {
  text-decoration: none;
}
</style>