<template>
  <v-app>
    <Sidebar />
    <v-content class="grey lighten-3">
      <nuxt />
    </v-content>
  </v-app>
</template>

<script>
import Sidebar from "~/components/Sidebar";

export default {
  components: { Sidebar }
};
</script>