<template>
  <v-container fluid>
    <v-card>
      <v-card-title>Pembelian Terakhir</v-card-title>
      <v-card-text>
        <v-text-field append-icon="mdi-magnify" label="Cari apapun..." v-model="search" />
        <v-data-table fixed-header :headers="headers" :items="sales" :search="search">
          <template v-slot:item.status="{ item }">
            <v-chip :color="getColor(item)" dark>{{ item.status }}</v-chip>
          </template>
          <template v-slot:item.price="{ item }">{{ item.price | fmtNumber }}</template>
          <template v-slot:item.total="{ item }">{{ item.total | fmtNumber }}</template>
          <template v-slot:item.paid="{ item }">{{ item.paid | fmtNumber }}</template>
        </v-data-table>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
export default {
  data: () => {
    return {
      search: "",
      headers: [
        { text: "Hari", value: "day" },
        { text: "Tanggal", value: "date" },
        { text: "Pembeli", value: "customer" },
        { text: "Handphone", value: "phone" },
        { text: "Barang", value: "item" },
        { text: "Harga", value: "price" },
        { text: "Jumlah", value: "qty" },
        { text: "Total", value: "total" },
        { text: "Terbayar", value: "paid" },
        { text: "Status", value: "status" }
      ],
      sales: [
        {
          day: "Minggu",
          date: "07/02/20",
          customer: "Novan Kuncoro",
          phone: "083838245719",
          item: "Makaroni",
          price: 1500,
          qty: 3,
          total: 4500,
          paid: 4500,
          status: "Lunas"
        },
        {
          day: "Rabu",
          date: "17/06/20",
          customer: "Alberta Yudea",
          phone: "083838245719",
          item: "Makaroni",
          price: 1500,
          qty: 5,
          total: 7500,
          paid: 10000,
          status: "Bonus"
        }
      ]
    };
  },
  methods: {
    getColor: ({ total, paid }) => {
      if (paid === total) return "success";
      else if (paid < total) return "warning";
      else if (paid > total) return "primary";
    }
  },
  filters: {
    fmtNumber(num) {
      const opt = {
        style: "currency",
        currency: "IDR"
      };
      return new Intl.NumberFormat("id-ID", opt).format(num);
    }
  }
};

//TODO: 1. Add sort by function.
</script>