<template>
  <v-container fluid>
    <v-row>
      <v-col>
        <h3 class="display-1">Semangat Kaleann</h3>
        <p class="subheading">{{ left | numbers }} lagi menuju {{ target | numbers }}</p>
      </v-col>
      <v-col>
        <v-card>
          <v-card-title>Pendapatan</v-card-title>
        </v-card>
      </v-col>
      <v-col>
        <v-card>
          <v-card-title>To Do</v-card-title>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <RecentBuys />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import RecentBuys from "~/components/RecentBuys";

export default {
  components: { RecentBuys },
  data: () => {
    return {
      target: 1500000,
      earns: 1000000
    };
  },
  computed: {
    left() {
      return this.target - this.earns;
    }
  },
  filters: {
    numbers(num) {
      const opt = {
        style: "currency",
        currency: "IDR"
      };
      return new Intl.NumberFormat("id-ID", opt).format(num);
    }
  }
};

let million = 1000000;
console.log(million.toFixed());
</script>
